{% load static %}

<head>
    <link rel = "stylesheet" href = "https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src = "https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link rel = "stylesheet" href = "{% static 'css/game.css' %}">
    <link rel = "shortcut icon" href = "https://pydmy7.top/static/image/settings/icon.png" type = "image/x-icon">
    <title>小星星---杂货铺</title>
</head>

<body style = "margin: 0">
    <div id = "ac_game_001">
        <audio class = "ac-game-menu-bgm" src = "https://pydmy7.top/static/audio/menu/menu.mp3" autoplay = 'autoplay' loop = 'loop'></audio>
    </div>
    <script type = "module">
        import {AcGame} from "{% static 'js/dist/game.js' %}";
        $(document).ready(function(){
            let ac_game = new AcGame("ac_game_001");
        });
    </script>
    <a style = "position: absolute; left: 62%; bottom: 0;">豫ICP备2022018706号</a>
</body>